@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    color: white;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    image-rendering: pixelated;
}

body {
    background-color: rgb(36, 39, 34);
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 15px;
}

td:nth-child(odd) {
    width: 75px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1000px auto;
    grid-template-rows: 100px auto;
}